/Board.class
/GUI$1.class
/GUI.class
/GameRunner.class
/Main.class
/bin/
src/GUI$1.class
src/GUI.class
*.class
/out/production/SomethingThatShouldBeMadeButIsInFactNotMade/.metadata/.plugins/org.eclipse.core.resources/.projects/SomethingThatShouldBeMadeButIsInFactNotMade1/org.eclipse.egit.core/GitProjectData.properties
/nullsettings.json